# Unmerged OCA modules
git+https://github.com/OCA/manufacture@refs/pull/1227/head#subdirectory=setup/mrp_bom_product_price_margin
git+https://github.com/OCA/manufacture@refs/pull/1255/head#subdirectory=setup/mrp_product_characterisation

# Unmerged GRAP modules
git+https://github.com/grap/grap-odoo-business@refs/pull/178/head#subdirectory=setup/product_food
git+https://github.com/OCA/product-attributes@refs/pull/1840/head#subdirectory=setup/product_compute_template_field_from_variant_helper
