.pricetag_01 {
    width: 4.91cm;
    height: 4.42cm;

    .product_name{
        font-size:17px;
        height: 1.42cm;
    }

    .secondary_price {
        height: 0.4cm;
        font-size: 8px;
    }

    .per_unit_quantity {
        height: 0.4cm;
        font-size: 8px;
    }

}
