.pricetag_02 {
    width: 3.8cm;
    height: 3.8cm;

    .main_price {
        height: 0.9cm;

        .main_price_text {
            font-size: 26px;
        }
    }

    .product_name{
        font-size: 17px;
        line-height: 0.6cm;
        height: 1.2cm;
    }

    .secondary_price {
        height: 0.6cm;
        font-size: 10px;
    }

    .per_unit_quantity {
        height: 0.4cm;
        font-size: 8px;
    }

}
