.pricetag_30, .pricetag_31, .pricetag_32, .pricetag_33 {

    border: 2px solid black;

    .pricetag_top {
        width: 100%;
        border-bottom: 2px solid;

        .product_name {
            height: 100%;
            padding-top: 6px;
            font-size: 25px;
            line-height: 1.1;
            font-weight: bold;
        }
    }

    .pricetag_center {
        width: 100%;
        border-bottom: 2px solid;
        padding-left: 0.1cm;
        position: relative;
        /* position relative permits to have labels at the bottom with absolute position */

        .feed_composition {
            overflow: hidden;
        }

        /* no label = no height,
            one or more label = white div hiding feed composition */
        .product_labels {
            width: 100%;
            background-color: white;
            position: absolute;
            bottom: 0;

            img.product_label {
                width: 1.2cm;
                height: 1.2cm;
                margin: 0.1cm;
            }
        }
    }

    .pricetag_bottom {
        width: 100%;

        .pricetag_bottom_left, .pricetag_bottom_right {
            height: 100%;
        }

        .pricetag_bottom_left {
            border-right: 2px solid;

            .organic_text {
                margin : 0.05cm 0.05cm;
                height: 0.75cm;
                font-size: 7px;
            }

            /* Image height is bigger than
                zone height : permits to crop barcode
                to make it smaller
                Position relative permits to
                go up barcode and display code number */
            .zone_barcode {
                height: 1.2cm;
                width:100%;

                .wrap_barcode_image{
                    width: 100%;
                    margin-top: 0.1cm;
                }

                .wrap_barcode_image > img{
                    position: relative;
                    bottom: 10px
                }
            }

            .shop_information {
                font-size: 7px;
            }
        }

        .pricetag_bottom_right {

            .main_price {

                .main_price_text {
                    font-weight: bold;
                }
                .main_uom_text {
                    font-size: 10px;
                }
            }

            .per_unit_quantity {
                height: 0.6cm;
                font-size: 11px;
                float: left;
                width: 100%;

            }

            .secondary_price {
                height: 0.6cm;
                font-size: 11px;
                width: 100%;
            }

        }

    }

}
