.pricetag_01 {
    width: 4.91cm;
    height: 4.42cm;

    .main_price {
        height: 1cm;
    }

    .product_name{
        font-size:17px;
        height: 1.9cm;
    }

    .secondary_price {
        height: 0.4cm;
        font-size: 9px;
    }

    .per_unit_quantity {
        height: 0.4cm;
        font-size: 9px;
    }

}
