.pricetag_01 {
    width: 4.91cm;
    height: 4.42cm;

    .margin_top, .margin_bottom {
        width: 4.91cm;
        height: 0.2cm;
    }

    .product_name{
        font-size: 17px;
        line-height: 0.7cm;
        height: 1.3cm;
    }

    .main_price {
        height: 1.1cm;

        .main_price_text {
            font-size: 28px;
        }

    }

    .secondary_price {
        height: 0.5cm;
        font-size: 11px;
    }

    .per_unit_quantity {
        height: 0.4cm;
        font-size: 9px;
    }

}
